<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Presupex">
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Presupex" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Presupex" />
        <activity
            android:name=".TransactionRecyclerActivity"
            android:exported="false"
            android:label="@string/title_activity_transaction_recycler" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="false"
            android:label="@string/title_activity_statistics" />
        <activity
            android:name=".AddTransactionActivity"
            android:exported="false"
            android:label="@string/title_activity_add_transaction" />
        <activity
            android:name=".TransactionListActivity"
            android:exported="false"
            android:label="@string/title_activity_transaction_list" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>